<div class="container">
  <div style="margin-top:10px;">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" style="text-align:justify-all">

        <ng-container matColumnDef="imageUrl">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> image_url </th>
          <td mat-cell *matCellDef="let row"><img [src]="row.imageUrl" style="width:100px;height:150px" class="zoom"></td>
        </ng-container>


        <ng-container matColumnDef="productID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> product_id </th>
          <td mat-cell *matCellDef="let row">{{row.productID}}</td>
        </ng-container>


        <ng-container matColumnDef="productQty">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> product_quantity </th>
          <td mat-cell *matCellDef="let row"> {{row.productQty}} </td>

        </ng-container>


        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> product_name </th>
          <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
        </ng-container>





        <ng-container matColumnDef="productPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> product_price </th>
          <td mat-cell *matCellDef="let row"> {{row.productPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> username </th>
          <td mat-cell *matCellDef="let row"> {{row.username}} </td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> total_price </th>
          <td mat-cell *matCellDef="let row"> {{row.totalPrice}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="Perform">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Perform </th>
          <td mat-cell *matCellDef="let row">

           
           <!-- <button mat-icon-button color="warn" (click)="deleteEmployee(row.productID)">
              <mat-icon>delete</mat-icon>
            </button>-->
          </td>
        </ng-container>
      </table>

      <mat-paginator [pageSizeOptions]="[1,2, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div><br />

    <button routerLink="/products" class="btn btn-primary mx-2">Shop More</button>

  </div>
</div>
