<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" style="font-size:30px" [routerLink]="['/']">AJIO</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <div *ngIf="isLoggedInCheck">
          <ul class="navbar-nav flex-grow">
            <li class="nav-item"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <a class=" btn btn-primary nav-link text-white" [routerLink]="['/']">Home</a>
            </li>
           <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class=" btn btn-primary mx-2 nav-link text-white" [routerLink]="['/counter']">Counter</a>
            </li>-->

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="btn btn-primary nav-link text-white" [routerLink]="['/ProductList']">ProductList</a>
            </li>
            

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="btn btn-primary nav-link text-white" [routerLink]="['/Cart']">Cart</a>
            </li>



            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class=" btn btn-primary mx-2 nav-link text-white" [routerLink]="['/logout']">logout</a>
            </li>


          </ul>

        </div>
        <div *ngIf="!isLoggedInCheck">
          <ul class="navbar-nav flex-grow">

            <li class="nav-item"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <a class=" btn btn-primary nav-link text-white" [routerLink]="['/homes']">homes</a>

            </li>
           
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class=" btn btn-primary mx-2 nav-link text-white" [routerLink]="['/login']">login</a>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class=" btn btn-primary nav-link text-white" [routerLink]="['/Registration']">Registration</a>
            </li>



          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

