<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 card my-2" *ngFor="let data of products">
      <img [src]="data.image_url" style="width:100%; height:300px;">
      <p><b>Product ID : </b>{{data.product_id}}</p>
      <p><b>Product Name : </b>{{data.product_name}}</p>
      <p><b>Product Price : </b>{{data.product_price}}</p>
      
      <p><button (click)="addcart(data.product_id,data.product_name,data.product_price,data.image_url)">Add to Cart</button></p>
    </div>
  </div>
</div>

